# Dependency directories
node_modules/

# Compiled files
*.log
*.lock
*.json

# IDE or editor files
.vscode/
.idea/

# Environment-specific files
.env

# Sensitive or confidential information
*.secret


static/